.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: var(--fundo);
}

.header img {
  width: 170px;
}

.containerLogo {
  display: flex;
  align-items: center;
}

.containerLogo span {
  margin-left: 20px;
  font-size: 35px;
  font-weight: 500;
  color: var(--black);
}

.navbar a {
  padding: 0 15px;
  color: var(--black);
  font-weight: 400;
  font-size: 16px;
  position: relative;
}

.navbar a:hover{
  color: var(--verde);
}

.navbar a::before{
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--verde);
  transition: .3s all;
}

.navbar a:hover::before{
  width: 100%;
}


@media screen and (max-width: 660px) {
  .header img {
    width: 140px;
  }

  .containerLogo span {
    margin-left: 10px;
    font-size: 30px;
  }
}
