*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Nunito", sans-serif;
}

:root{
  --fundo: #f2f2f3;
  --black: #1c1c1c;
  --azul: #006cb7;
  --azul-hover: #6896cf;
}

a{
  text-decoration: none;
}
