*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth!important;
}

body{
  font-family: "Nunito", sans-serif;
}

:root{
  --fundo: #f2f2f3;
  --black: #1c1c1c;
  --azul: #006cb7;
  --azul-hover: #075a96;
  --vermelho: #ed1c24;
  --verde: #08A55E;
}

a{
  text-decoration: none;
}
