.banner{
   width: 100%;
   height: 400px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   padding: 15px;
   border-bottom: 1px solid var(--fundo);
}

.banner h1{
   font-size: 55px;
   font-weight: bold;
}

.banner h3{
   font-weight: 300;
   margin-bottom: 30px;
}

.btn{
   padding: 10px 30px;
   background-color: var(--azul-hover);
   color: #fff;
   border: none;
   outline: none;
   border-radius: 8px;
   font-weight: 600;
}

.btn:hover{
   background-color: var(--azul);
}

@media screen and (max-width: 660px){
   .banner h1{
      font-size: 40px;
   }

   .banner h3{
      font-size: 17px;
   }
}